*body {
  font-family: 'Cinzel',Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  line-height: 34px;
  background-color: black
    
}
h1{ 
font-size: 30px;
line-height: 49px;
text-align: center;
}
#movie-button{
  margin-left: 50%;
  margin-right: 45%;
}
#search-input{
  margin-left: 45%;
}

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  overflow: auto;
  color: grey;
  background:rgb(2, 2, 77);
  border-bottom: 1px solid grey;
}
#brandlogo {
  width: 55px;
  height: 45px;

}


#logo {
  float: left;
  width: 250px;
  height: 60px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
  color: grey;
  text-align: center;
  text-decoration: none;
  background:rgb(2, 2, 77);
}

nav {
  float: right;
  margin-top: 25px;
  padding-right: 10px;
}
nav a:first-child {
  border-left: 0 none;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

.d-block {
  width: 450px;
  height: 300px;
}

#carouselExampleIndicators {
  width:470px;
}
